<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" %>
<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"%>

<%= form_for(@meeting) do |f| %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, id:"title" %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field" id="date">
    <%= f.label :date %><br>
    <% if @meeting.date.nil? %>
      <%= f.text_field :date, :value=>Date.today %>
    <% else %>
      <%= f.text_field :date, :value=>f.object.date.to_date %>
    <% end %>
  </div>

<% if @meeting.new_record? %>
  <% if not @meeting.users.empty? %>
    <div class="field" id="emember">
      <label for='emember address'>Current members:</label>
      <ul>
      <% @meeting.users.each do |user| %>
        <li><%= user.username %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" id="member">
	<table class="logincontent">
    <tr>
        <td><label for="Email address">Please enter new members' email address(es): &nbsp </label></td>
        <td><input class="text" type="text" name="email" id="temail"></input>

        <input class="button intermitbutton" name="addmore" type="button" value="Add member" id="addmember"></input></td>
		</tr>
	</table>
  </div>

  <% if not @meeting.restaurants.empty? %>
    <div class="field" id="erest">
      <label for='erest address'>Current Restaurants:</label>
      <ul>
      <% @meeting.restaurants.each do |rest| %>
        <li><%= rest.name %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field" id="restaurant">
    <table class="rest">
      <tr>
        <td><label for="Restaurant">Please enter new restaurant option(s): &nbsp </label></td>
        <td><input class="text" type="text" name="rtt" id="trest"></input>
          <input class="button restb" name="morerest" type="button" value="Add restaurant"></input>
        </td>
      </tr>
    </table>
  </div>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
$(function() {
        $( "#meeting_date" ).click(function() {
			datepicker();
          });
});
$("#meeting_date").datepicker({ dateFormat: 'yy-mm-dd' });

$(".intermitbutton").click(function() {
	var commonvalue = $(this).parents('tr').find("[name=email]")
  var thisemailaddress = commonvalue.val();
  if (validateEmail(thisemailaddress)) {
    $("#invalidemail").remove();
  	$('table.logincontent').append("<tr><td align='right'>"+thisemailaddress+"<input name='emailaddress[]' type='hidden' id='addeduser' value='"+thisemailaddress+"'></input></td></tr>"); 	
  }
  else {
    $('#member').prepend("<p id='invalidemail' style='color:red; margin-left:50px'>"+"Invalid email address!"+"</p>");
  }
  commonvalue.val("");
})

$(".restb").click(function() {
  var ivalue = $(this).parents('tr').find("[name=rtt]")
  var rvalue = ivalue.val();
  $('table.rest').append("<tr><td align='right'>"+rvalue+"<input name='restaurantname[]' type='hidden' id='addedrest' value='"+rvalue+"'></input></td></tr>");
  ivalue.val("");
})

function validateEmail($email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  if( !emailReg.test( $email ) ) {
    return false;
  } else {
    return true;
  }
}

</script>
