<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" %>
<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"%>


<%= form_for(@meeting) do |f| %>
  <%#= render "shared/error_messages", :target => @meeting %>
  <% if @meeting.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% @meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="panel panel-default">
    <div class="panel-heading">     
      <h3 class="panel-title">Basic info</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, id:"title" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="form-group" id="date">
        <%= f.label :date %>
        <% if @meeting.date.nil? %>
          <%= f.text_field :date, :value=>Date.today %>
        <% else %>
          <%= f.text_field :date%>
        <% end %>
      </div>
    </div>

  </div >


    <% if @meeting.new_record? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Member(s)</h3>
      </div>
      <div class="newmemberfields">
          
        <% if not @meeting.users.empty? %>
          <div class="basicinfofields">
            <div class="field" id="emember">
              <label for='emember address'>Current members:</label>
              <ul>
              <% @meeting.users.each do |user| %>
                <li><%= user.username %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="panel-body">
          <div id="member" class="form-group">
            <table class="logincontent">
                <tr>
                    <td>
                      <label for="Email address">
                        Please enter new members' email address(es): &nbsp   
                      </label>
                    </td>
                </tr>
                <tr>
                    <td><input class="text form-control" type="text" name="email" id="temail"></ input></ td>
                </tr>
            </table>
            <br >
              <input class="button intermitbutton btn btn-default" name="addmore" type="button"  value="Add Member" id= "addmember"> </input>
          </div>
        </div>
      </div>
    </div>
      <br>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add Restaurants</h3>
        </div>
        <div class="panel-body">
          <% if not @meeting.restaurants.empty? %>
            <div class="field" id="erest" style="border-bottom:solid 1px #eee">
              <label for='erest address'>Current Restaurants:</label>
              <ul>
              <% @meeting.restaurants.each do |rest| %>
                <li><%= rest.name %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
  
          <div class="form-group" id="default" style="border-bottom:solid 2px #eee">
           <label>A list of default restaurants based on your current location (sorted by distance):</label>
          </div>

          
          <div id="userinputaddress" class="form-group">
            <label>Or you can get a list of nearby restaurant based on following address</label>
            <div class="basicinfofields">

              <div class="form-group">
               <h5>Address:</h5>
               <input class="text form-control" type="text" id="address"></input>
              </div>
              <div class="form-group">
                <h5>City: </h5>
                <input class="text form-control" type="text" id="city"></input>
              </div>
              <div class="form-group">
                <h5>State: </h5>
                <input class="text form-control" type="text" id="state"></input>
              </div>
              <div class="form-group">
                <h5>Zip code: </h5>
                <input class="text form-control" type="text" id="zipcode"></input>
              </div>
             <br >
             <input class="button btn inputaddress btn-default" name="inputaddress" type= "button" value="Get Nearby Restaurant List "></input><span id="spin"></span>
            </div>
          </div>
          
          <hr>
  
          <div class="field" id="restaurant">
            <table class="rest">
              <tr>
                <td><label for="Restaurant">Or you can enter new restaurant option(s): &nbsp </label></td>
              </tr>
              <tr>
                <td><div class="form-group"><input class="text form-control" type="text" name="rtt" id="trest"></input></td>
              </tr>
            </table>
            
            <button class="button restb btn btn-default" name="morerest">Add Restaurant</button>     
          </div>
        </div>
      </div>

    <% end %>
<%= f.submit class: "btn btn-large btn-primary" %>
<% end %>

<script>

$(document).ready(function(){
  var id = '<%=@id %>';
  var url = "../meetings/" + id + "/get_default_restaurants";
  var action = '<%=@new %>';
  if (action) {
  navigator.geolocation.getCurrentPosition(function(position){
    $.ajax({
      url: url,
      type: "GET",
      data: {
        lati: position.coords.latitude, 
        longi: position.coords.longitude,
      },
      datatype: "json",
      success: function(data, textStatus, xhr){
        //var parsed_data = $.parseJSON(data);
        $.each(data, function(index,value) {
            //alert(value.name);
            generate_checkbox_list(JSON.stringify(value), value, "#default");
            //console.log(JSON.stringify(value), value.name, value.url);
            $(".yelplink").popover();
        });
      },
      error: function(request, status, error){
        console.log(error)
        console.log(status)
      },
    });
    
  })
}
})

function generate_checkbox_list(jobject, value, elementid) {
    var name = value.name;
    var url = value.url;
    var rating = value.rating;
  
    $(elementid).append(
      '<div class="checkbox"><label>'
      +
      '<input id="restaurant_id_" name="restaurant_name[]" type="checkbox" data-type="json" value='
      + "'"
      +
      jobject + "'"
      +
      '/>'
      +
      '<a class="yelplink" href='
      +
      url
      + 
      
      ' data-placement="bottom" data-content=' 
      + '"Rating on Yelp is ' +  
      rating + '"'
      +
      ' data-trigger="hover">' 
      + 
      name
      +
      '</a>'
      +
      '</label></div>');
  
}


// $(function() {
//         $( "#meeting_date" ).click(function() {
// 			datetimepicker();
//           });
// });
//$("#meeting_date").dateFormatpicker({ dateFormat: 'yy-mm-dd' });
$("#meeting_date").datetimepicker({format:'Y-m-d H:i'});

$(".intermitbutton").click(function() {
	var commonvalue = $("#temail")
  var thisemailaddress = commonvalue.val()
  if (validateEmail(thisemailaddress)) {
    $("#invalidemail").remove();
  	$('table.logincontent').append("<tr><td align='right'>"+thisemailaddress+"<input name='emailaddress[]' type='hidden' id='addeduser' value='"+thisemailaddress+"'></input></td></tr>"); 	
  }
  else {
    $('#member').prepend("<p id='invalidemail' style='color:red; margin-left:50px'>"+"Invalid email address!"+"</p>");
  }
  commonvalue.val("");
})

$(".inputaddress").click(function() {
  var id = "<%=@id %>"
  var url = "../meetings/" + id + "/search_restaurants_from_input_address"
  var address = $("#address").val();
  var city = $("#city").val();
  var state = $("#state").val();
  var zipcode = $("#zipcode").val();

  var opts = {
    lines: 10, // The number of lines to draw
    length: 5, // The length of each line
    width: 2, // The line thickness
    radius: 6, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: true, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 2, // Top position relative to parent
    left: '30%' // Left position relative to parent
  };
  var target = document.getElementById('spin');
  var spinner = new Spinner(opts)
  spinner.spin(target);

  if (!address && !city && !state && !zipcode) {
    alert("You have to provide address, city, state or zip code to do the search");
  }

  $.ajax({
      url: url,
      type: "GET",
      data: {
        address: address,
        city: city,
        state: state,
        zipcode: zipcode
      },
      datatype: "json",
      success: function(data, textStatus, xhr){
        console.log(data);
        if (data.length == 1) {
          $("#userinputaddress").append("<div style='color: red'>" + data[0] + ". Please try more specific search </div>");
        }
        else {
          $.each(data, function(index,value) {
              generate_checkbox_list(JSON.stringify(value), value, '#userinputaddress');
              console.log(JSON.stringify(value), value.name, value.url);
              $(".yelplink").popover();
          });
        }
        spinner.stop();

      },
      error: function(request, status, error){
        console.log(error)
        console.log(status)
      },
    });

})

$(".restb").click(function() {
  var ivalue = $("#trest")
  var rvalue = ivalue.val();
  $('table.rest').append("<tr><td align='right'>"+rvalue+"<input name='restaurantname[]' type='hidden' id='addedrest' value='"+rvalue+"'></input></td></tr>");
  ivalue.val("");
})

function validateEmail($email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  if( !emailReg.test( $email ) ) {
    return false;
  } else {
    return true;
  }
}

</script>
