<%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/smoothness/jquery-ui.min.css" %>
<%= javascript_include_tag  "http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"%>


<%= form_for(@meeting) do |f| %>
  <%= render "shared/error", :target => @meeting %>

  <div class="panel panel-default">
    <div class="panel-heading">     
      <h3 class="panel-title">Basic info</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, id:"title" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
      <div class="form-group" id="date">
        <%= f.label :date %>
        <% if @meeting.date.nil? %>
          <%= f.text_field :date, :value=>Date.today %>
        <% else %>
          <%= f.text_field :date%>
        <% end %>
      </div>
    </div>

  </div >


  <% if @meeting.new_record? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Add New Member(s)</h3>
      </div>
      <div class="newmemberfields">
          
        <% if not @meeting.users.empty? %>
          <div class="basicinfofields">
            <div class="field" id="emember">
              <label for='emember address'>Current members:</label>
              <ul>
              <% @meeting.users.each do |user| %>
                <li><%= user.username %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>

        <div class="panel-body">

          <div id="member" class="form-group">
            <table class="logincontent">
                <tr>
                    <td>
                      <label for="Email address">
                        Please enter new members' email address(es): &nbsp (<span class="choose"><a>or choose from your buddies</a></span>)  
                      </label>
                    </td>
                </tr>

                <% @allbuddies.each do |user| %>
                    <tr class="showallbuddies"><td align='left'><input name='emailaddress[]' type='checkbox' id='addeduser' value=<%=user.email%>> <%=user.email%></input></td></tr>
                <% end %>

                <tr>
                    <td><input class="text form-control" type="text" name="email" id="temail"></input></td>
                </tr>

            </table>
            <br >
              <input class="button intermitbutton btn btn-default" name="addmore" type="button"  value="Add Member" id= "addmember"> </input>
          </div>
        </div>
      </div>
    </div>
  
    <% end %>
  <%= f.submit class: "btn btn-large btn-primary" %>
<% end %>

<script>
$("#meeting_date").datetimepicker({
  format:'Y-m-d H:i',
  closeOnDateSelect: true
});

$(".intermitbutton").click(function() {
  var commonvalue = $("#temail")
  var thisemailaddress = commonvalue.val()
  if (validateEmail(thisemailaddress)) {
    $("#invalidemail").remove();
    $('table.logincontent').append("<tr><td align='left'> <input name='emailaddress[]' type='checkbox' checked id='addeduser' value='"+thisemailaddress+"'> "+thisemailaddress+"</input></td></tr>");   
  }

  else {
    $('#member').prepend("<p id='invalidemail' style='color:red; margin-left:50px'>"+"Invalid email address!"+"</p>");
  }
  commonvalue.val("");
})

function validateEmail($email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  if( !emailReg.test( $email ) ) {
    return false;
  } else {
    return true;
  }
}

</script>