<% if not @past %>
  <h3>Who's Going?</h3>
  <ul style="list-style: none">
    <li style="color: #5EA06F;"><h5><%= statuscounts['Yes'] %> going:</h5>
<% else %>
  <h3>Who went?</h3>
  
<% end %>
      <ul>
        <% Meeting.rsvpYuser(meeting, 'Yes').each do |k| %>    
            <li class="userlist">
            <img src="/assets/tick.gif" style="float:left"> <img alt="Account" class="menuavatarimage" src="<%=gravatar_url(User.find_by_username(k))%>)"> &nbsp;<span style="color: #5EA06F"><%=k %></span>
            </li>
        <% end %>
      </ul>
    </li>
<% if not @past %>
    <li style="color: #d9534f">
      <h5><%= statuscounts['No'] %> not going:</h5>
      <ul>
      <% Meeting.rsvpYuser(meeting, 'No').each do |k| %> 
          <li class="userlist">
          <img src="/assets/red-cross_small.png" style="float:left"> <img alt="Account" class="menuavatarimage" src="<%=gravatar_url(User.find_by_username(k))%>)"><span style="color:#d9534f">&nbsp;<%=k %></span>
          </li>
      <% end %>
      </ul>
    </li>
    <li style="color: #f0ad4e">
      <h5><%= statuscounts['Maybe'].to_i + statuscounts[''].to_i %> not decided yet:</h5>
      <ul>
      <% Meeting.rsvpYuser(meeting, 'Maybe').each do |k| %> 
          <li class="userlist">
          <img src="/assets/question_mark.gif" style="float:left"> <img alt="Account" class="menuavatarimage" src="<%=gravatar_url(User.find_by_username(k))%>)"><span style="color: #f0ad4e">&nbsp; <%=k %></span>
          </li>
      <% end %>
        <% Meeting.rsvpYuser(meeting, nil).each do |k| %> 
            <li class="userlist">
            <img src="/assets/question_mark.gif" style="float:left"> <img alt="Account" class="menuavatarimage" src="<%=gravatar_url(User.find_by_username(k))%>)">&nbsp;<span style="color:#f0ad4e"> <%=k %></span>
            </li>
        <% end %>
        </ul>
      </li>
    </ul>
<% end %>

<% if inGroup and not result_sent and not past%> 
  <%= link_to 'Invite more people to join in', :select_members, :class=>"btn btn-default selection" %>
  <br />
<% end %>
  
   
  <br>
  <% if inGroup and not past%>
    <div id="operation" style="font-size: 16px">
      <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_meeting_path(meeting) %> |
      <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), meeting, method:  :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>'), meetings_path %>
    </div>
  <% end %>
</div>