<% provide(:title, "Meeting index") %>

<div class="listing table-responsive" style="margin-bottom: 10px">
  <div class="topbar">
    <div class="buddiestopbar">
        <div class="leftentity">
          <div class="contentwrapper">
            <h1><%=current_user.username%> meeting schedules</h1>
            <h3>when and where is your meeting takes place</h3>
          </div>
        </div>
      </div>
      <div class="newmeeting">
        <div class="nmeetingwrapper">
          <i class="icon icon-plus"></i>
          <%=link_to "Create New Meeting", new_meeting_path %>
        </div>
      </div>
    </div>
  </div>

<br>

<div class="listingbox">
  <ul class="listmeetings">
  <% @meetings.each do |meeting| %>
    <li class="date-indicator">
      <%= link_to meeting.date.in_time_zone.strftime("%a, %b %d, %Y"), meeting, :class=>"meetingtime" %>
    </li>
      <li >
        <div class="detail-container">
        <div class="unit sizetime">
          <%= meeting.date.in_time_zone.strftime("%l:%M %p") %>
        </div>
        <div class="unit sizemain">
          <div class="title">
            <%= link_to meeting.title, meeting %> 
          </div>
          <div class="description">
            <%=meeting.description %>
          </div>
          <div class='peoplecount'>
            <%#= pluralize_to_sentence(meeting.users.count) %>
            <%= pluralize(meeting.users.count, 'person') %> <%= 'is'.pluralize(meeting.users.count) %> <%#= pluralize(meeting.users.count, 'is', 'are')%> <%#='person'.pluralize(meeting.users.count) %> going 
            <%#='person is going'.pluralize(meeting.users.count)%> 
            <%#=pluralize(meeting.users.count, 'person')%> <%#="is going".pluralize(meeting.users.count) %><%#=pluralize(meeting.users.count, 'is', 'are') %> 
          </div>
        </div>
      </div>
      </li>
      <!-- <h3><i class="icon icon-calendar"></i>  <%= link_to meeting.date.in_time_zone.strftime("%a, %b %d, %Y"), meeting, :class=>"meetingtime" %></h3>
      <p class="timetext"><%= meeting.date.in_time_zone.strftime("%l:%M %p") %></p>
      <span style="display:inline"><%= link_to meeting.title, meeting %> 
        <p style="display:inline; margin-right:10px"><%#= link_to raw('<i class="icon-trash icon-white"></i>'), meeting, confirm: 'Are you sure?', method: :delete %>
        </p>
      </span>
      <p class="timetext"><%=meeting.description%> -->
     <%#= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
  </ul>
</div>

<%#= link_to 'New Meeting', new_meeting_path %>
<br >
</div>