<% provide(:title, "Meeting index") %>


<h1><%=current_user.username%> Lunch Calendar</h1>
         
<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Create New Lunch'),    new_meeting_path, :class=>'btn btn-primary btn-lg' %>
         

<div class="listingbox">
  <ul class="listmeetings">
  <% @meetings.each_pair do |date, meetings| %>

    <li class="date-indicator">
      <%= link_to date.in_time_zone.strftime("%a, %b %d, %Y"), meetings[0], :class=>"meetingtime" %>
    </li>
      <li >
        <ul>
          <% meetings.each do |meeting| %>
          
            <div class="detail-container">
              <li>
                <div class="unit sizetime">
                  <%= meeting.date.in_time_zone.strftime("%l:%M %p") %>
                </div>
                <div class="unit sizemain">
                  <div class="title">
                    <%= link_to meeting.title.split.map(&:capitalize).join(' '), meeting %> 
                  </div>
                  <div class="description">
                    <%=meeting.description %>
                  </div>
                  <div class='peoplecount'>
                    <%#= pluralize_to_sentence(meeting.users.count) %>
                    <%= pluralize(meeting.users.count, 'person') %> <%= 'is'.   pluralize    (meeting.users.count) %> <%#= pluralize( meeting .users.count,    'is', 'are')%> <%#='person'.  pluralize(meeting .users.count) %>   going 
                    <%#='person is going'.pluralize(meeting.users.count)%> 
                    <%#=pluralize(meeting.users.count, 'person')%> <%#="is  going".      pluralize(meeting.users.count) %><%#=pluralize( meeting. users.   count, 'is', 'are') %> 
                  </div>
                </div>
              </li>
            </div>
          
          <% end %>
        </ul>
      </li>
      
  <% end %>
  </ul>
</div>
