<% provide(:title, "Meeting index") %>


<h1><%=current_user.username%> Lunch Calendar</h1>
<% if @meetings.blank? %>
  <h3>No lunch scheduled for <%=current_user.username %>. Create one now! </h3>
<% end %>
<%= link_to raw('<span class="glyphicon glyphicon-plus"></span> Create New Lunch'),    new_meeting_path, :class=>'btn btn-primary btn-md' %>

<div class="listingbox">
  <ul class="listmeetings">
  <% @meetings.each_pair do |date, meetings| %>

    <li class="date-indicator">
      <%= link_to date.in_time_zone.strftime("%a, %b %d, %Y"), meetings[0], :class=>"meetingtime" %>
    </li>
    <li >
      <ul style="padding: 0">
        <div class="detail-container">
          <% meetings.each do |meeting| %>
            <li class="meetingsamedate">              
              <div class="unit sizetime">
                <%= meeting.date.in_time_zone.strftime("%l:%M %p") %>
              </div>
              <div class="unit sizemain">
                <div class="title">
                  <%= link_to meeting.title.split.map(&:capitalize).join(' '),meeting %> 
                </div>
                <div class="description">
                  <%=meeting.description %>
                </div>
                <div class='peoplecount' >
                     <%#= pluralize_to_sentence(meeting.users.count) %>
                  <%= pluralize(Meeting.rsvpYuser(meeting, 'Yes').count, 'person') %> <%= 'is'.pluralize(Meeting.rsvpYuser(meeting, 'Yes').count) %> going <%#= pluralize  meeting .users.count,    'is', 'are')%> <%#='person'.  pluralize(meeting .users.count) %>  
                     <%#='person is going'.pluralize(meeting.users.count)%> 
                     <%#=pluralize(meeting.users.count, 'person')%> <%#="is going".       pluralize(meeting.users.count) %><%#=pluralize( meeting.  users.   count, 'is', 'are') %> 
                </div>
              </div> 

            </li>
          <% end %>
        </div>
      </ul>
    </li>
      
  <% end %>
  </ul>
</div>
