<div style="padding-top: 20px">

  <%=form_tag 'submit_members' do %>
  <div class="infosection">
    <h5>Add Members</h5>
    <div class="newmemberfields" style="border-bottom:solid 1px #eee">
      <!-- <div class="field" id="erest" >
        <label for='erest address'>Current Users:</label>
        <% @allusers.each do |user| %>
          <label><%=check_box_tag 'user_id[]', 
            user.id, @users.include?(user) %>
            <%= user.username %>
          </label>
        <% end %>
      </div>
    </div> -->
  
    <div class="field" id="member" style="margin-top: 5px; padding-left: 20px">
    	<table class="logincontent">
        <tr>
          <td><label for="Email address">Please enter new members' email address(es): &nbsp </label></td>
        </tr>
        <tr>
          <td><input class="text form-control" type="text" name="email" id="temail"></input>
          </td>
        </tr>
      </table>
      <br />
      <input class="button intermitbutton btn btn-default " name="addmore" type="button" value= "Add member" id="addmember"></input></td>
    		
    </div>
  </div>
</div>
<br />
  <%=submit_tag "Send invite!", :class=>'btn btn-primary btn-large' %>
  <% end %>

<script>
$(".intermitbutton").click(function() {
	var commonvalue = $("#temail")
  	var thisemailaddress = commonvalue.val();
  	var all_existing_emails = '<%=@alluseremails%>'
  	if (validateEmail(thisemailaddress)) {
    	$("#invalidemail").remove();
    	if (all_existing_emails.indexOf(thisemailaddress) > -1) {
    		$('#member').prepend("<p id='invalidemail' style='color:red; margin-left:50px'>"+"This email address exists already!"+"</p>")
    	}
    	else {
	  		$('table.logincontent').append("<tr><td align='right'>"+thisemailaddress+"<input name='emailaddress[]' type='hidden' id='addeduser' value='"+thisemailaddress+"'></input></td></tr>"); 	
	  	}
  	}
  	else {
    	$('#member').prepend("<p id='invalidemail' style='color:red; margin-left:50px'>"+"Invalid email address!"+"</p>");
  	}
  	commonvalue.val("");
})

function validateEmail($email) {
  var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
  if( !emailReg.test( $email ) ) {
    return false;
  } else {
    return true;
  }
}
</script>