<% is_new = @restaurants.size == 0 %>

<%=form_tag 'submit_restaurants' do %>
  <h1>Venue Candidates</h1>
  <p>Select venue candidates for
  
    <b><%= @meeting.title %></b> - 
    <%= @meeting.description %> on
    <b>
      <%= @meeting.date.in_time_zone.strftime("%a, %b %d, %Y") %>
      <%= @meeting.date.in_time_zone.strftime("%l:%M %p") %>
    </b>.
  </p>

  <% if @restaurants.size > 0 %>
    <ul>
      <% @restaurants.each do |rest| %>
        <li><%= rest.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p><em>Add some restaurants to the list kickstart it.</em></p>
  <% end %>

  <a href="add_restaurants_by_address" class="btn <%= is_new ? 'btn-primary' : 'btn-default' %>">Add restaurants</a>
  <% if not is_new %>
    <a href="./" class="btn btn-primary">Back to Event</a>
  <% end %>
<% end %>
