<!-- <div class="listing">
<span class="listingh">Select restaurants </span> -->

<div style="padding-top: 20px">
  <%=form_tag 'submit_restaurants' do %>
  <div class="infosection form-group">
        <h5>Add/Remove Restaurants</h5>
        
        <div class="newmemberfields" style="border-bottom:solid 1px #eee">
          <div class="field" id="erest" >
            <label for='erest address' class="col-md-4 control-label">Current Restaurant Selections:</label>
              <br />
                <% @allrests.each do |rest| %>
                <div class="checkbox">
                  <label><%=check_box_tag 'restaurant_id[]', 
                    rest.id, @restaurants.include?(rest) %>
                    <%= rest.name %>
                  </label>
                </div>
                <% end %>
          </div>
        </div>

        <div class="field checkbox" id="userinputaddress" style="margin-top: 10px; border-bottom:solid 2px #eee; padding-left: 20px; width: 70%">
          <label>Or you can get a list of nearby restaurant based on following address</label>
          <br />
          <div class="field form-group">
            <label class="control-label">Address:</label>
            <input class="form-control" type="text" id="address"></input>
          </div>
          <div class="field form-group">
           <label class="control-label">City: </label>
           <input class="form-control" type="text" id="city"></input>
          </div>
          <div class="form-group">
           <label class="control-label">State: </label>
           <input class="text form-control" type="text" id="state"></input>
          </div>
           <br >
           <input class="button btn btn-default inputaddress" name="inputaddress" type="button" value="Get nearby restaurant list "></input><span id="spin"></span>
        </div>
          <br >
  
        <div class="field" id="restaurant" style="margin-top: 5px; padding-left: 20px">
          <table class="rest">
            <tr>
              <td><label for="Restaurant">Or you can enter new restaurant option(s): &nbsp </label></td>
            </tr>
            <tr>
              <td><input class="text" type="text" name="rtt" id="trest"></input></td>
            </tr>
          </table>
              <input class="button restb btn" name="morerest" type="button" value="Add restaurant"></input>              
        </div>
      </div>
    <br />
  <%= submit_tag "Save", class: "btn btn-large btn-primary" %>
  <% end %>
</div>



<!-- <div class="field" id="restaurant">
    <table class="rest">
      <tr>
        <td><label for="Restaurant">Please enter new restaurant option(s): &nbsp </label></td>
        <td><input class="text" type="text" name="rtt" id="trest"></input>
          <input class="button restb" name="morerest" type="button" value="Add restaurant"></input>
        </td>
      </tr>
    </table>
  </div>

  <%#=submit_tag "Save", :class=>'btn' %> -->

<script>
$(".restb").click(function() {
  var ivalue = $("#trest")
  var rvalue = ivalue.val();
  $('table.rest').append("<tr><td align='right'>"+rvalue+"<input name='restaurantname[]' type='hidden' id='addedrest' value='"+rvalue+"'></input></td></tr>");
  ivalue.val("");
})
// $(".restb").click(function() {
//   var ivalue = $(this).parents('tr').find("[name=rtt]")
//   var rvalue = ivalue.val();
//   var names = '<%=@all_restaurant_names%>'

//   if (names.indexOf(rvalue) > -1) {
//   	$('#restaurant').prepend("<p id='invalidemail' style='color:red; margin-left:50px'>"+"This restaurant exists already!"+"</p>")
//   }
//   else {
//   	$('table.rest').append("<tr><td align='right'>"+rvalue+"<input name='restaurantname[]' type='hidden' id='addedrest' value='"+rvalue+"'></input></td></tr>");
//   	ivalue.val("");
//   }
// })

$(".inputaddress").click(function() {
  var id = <%=@id %>
  var url = "../" + id + "/search_restaurants_from_input_address"
  var address = $("#address").val();
  var city = $("#city").val();
  var state = $("#state").val();

  var opts = {
    lines: 10, // The number of lines to draw
    length: 5, // The length of each line
    width: 2, // The line thickness
    radius: 6, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: true, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: 2, // Top position relative to parent
    left: '30%' // Left position relative to parent
  };
  var target = document.getElementById('spin');
  var spinner = new Spinner(opts)
  spinner.spin(target);

  if (!address || !city || !state) {
    alert("You have to provide address, city and state to do the search");
  }

  $.ajax({
      url: url,
      type: "GET",
      data: {
        address: address,
        city: city,
        state: state
      },
      datatype: "json",
      success: function(data, textStatus, xhr){
        $.each(data, function(index,value) {
            generate_checkbox_list(JSON.stringify(value), value, '#userinputaddress');
            console.log(JSON.stringify(value), value.name, value.url);
            $(".yelplink").popover();
        });
        spinner.stop();

      },
      error: function(request, status, error){
        console.log(error)
        console.log(status)
      },
    });

})

function generate_checkbox_list(jobject, value, elementid) {
    var name = value.name;
    var url = value.url;
    var rating = value.rating;
  
    $(elementid).append(
      '<label>'
      +
      '<input id="restaurant_id_" name="restaurant_name[]" type="checkbox" style="margin-left: 20px" data-type="json" value='
      + "'"
      +
      jobject + "'"
      +
      '/>'
      +
      '<a class="yelplink" style="padding-left: 6px" href='
      +
      url
      + 
      
      ' data-placement="bottom" data-content=' 
      + '"Rating on Yelp is ' +  
      rating + '"'
      +
      ' data-trigger="hover">' 
      + 
      name
      +
      '</a>'
      +
      '</label>');
  
}
</script>