<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Members</strong> 
  (<%= link_to 'edit', :select_members %>)
  <strong>:</strong>
  <ul>
  <% @meeting.users.each do |user| %>
  <li><%= link_to user.username, user %></li>
  <% end %>
  </ul>
</p>

<p>
	<strong>Restaurants</strong>
	(<%= link_to 'edit restaurant', :select_restaurants%>)
	<strong>:</strong>
	<table class='vote'>
		<% @meeting.restaurants.each do |rest|%>
		  <tr>
        <td class="arrow-up"></td>
        <td rowspan="3" class="restname"><%= link_to rest.name, rest%></td>
      </tr>
      <tr>
        <td class="votenumber">1</td>
      </tr>
      <tr>
        <td class="arrow-down"></td>
      </tr>
        
		<% end %>
	</table>
		

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
