<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Members</strong> 
  (<%= link_to 'edit member', :select_members %>)
  <strong>:</strong>
  <ul>
  <% @meeting.users.each do |user| %>
  <li><%= link_to user.username, user %></li>
  <% end %>
  </ul>
</p>

<p>
  <div id="editr">
	<strong>Restaurants</strong>
	(<%= link_to 'edit restaurant', :select_restaurants%>)
	<strong>:</strong>
</div>
	<table class='vote' id='editr'>
    <% @allrests.each_pair do |key, value|%>
      <%
      mrs_id = value[1]
      vote_count = value[0]
      direction = value[2] || 'down'
      up_arrow_class = direction == 'down' ? 'arrow-up' : 'arrow-uped'
      down_arrow_class = direction == 'up' ? 'arrow-down' : 'arrow-downed'
      %>
		  <tr>
        <td class="<%=up_arrow_class%>" 
          id='<%="uparrow#{mrs_id}" %>' 
          onclick="changeVote('up', <%=mrs_id%>)">
        </td>
        <td rowspan="3" class="restname"><%= link_to key.name, key%></td>
      </tr>
      <tr>
        <td class="votenumber" id='<%="vnumber#{mrs_id}"%>'><%=vote_count%></td>
      </tr>
      <tr>
        <td class="<%=down_arrow_class%>" 
          id='<%="downarrow#{mrs_id}" %>' 
          onclick="changeVote('down', <%=mrs_id%>)">
        </td>
      </tr>
		<% end %>
	</table>
		

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<script>

var user = '<%= @user %>';
function changeVote(direction, mrs_id){
  var direction = direction;
  var member = <%=@inGroup%>
  if (! user || ! member) { 
    $("#editr").append("<div style='color: red'>You have to login or be the group's member to vote!</div>");
    return
  }
  
  updateVote(direction, mrs_id);
}

function updateVote(vote, mrs_id) {
  var uid = '<%=@uid%>';
  var id = '<%=@meeting_id%>';
  var url = "../meetings/" + id + "/" + "update_vote";
  $.ajax({
    url: url,
    type: "GET",
    data: {
      uid: uid, 
      mrs_id: mrs_id, 
      vote: vote, 
      id: id
    },
    datatype: "json",
    success: function(data, textStatus, xhr){
      if (data) {
        var counts = Number($("#vnumber" + mrs_id).html());
        if (vote == 'up') {
          counts++;
          voteUp(mrs_id);
        }
        else {
          counts--;
          voteDown(mrs_id);
        }
        $("#vnumber"+mrs_id).html(counts);
      }                
      else {
        alert("Something went wrong. Please contact your admin")
      }
    },
    error: function(request, status, error){
      console.log(error)
      console.log(status)
    },
  });
}

function voteUp(mrsId){
  $("#uparrow"+mrsId).addClass('arrow-uped').removeClass('arrow-up');
  if ($("#downarrow"+mrsId).hasClass('arrow-downed')) {
    $("#downarrow"+mrsId).addClass('arrow-down').removeClass('arrow-downed');
  }
}

function voteDown(mrsId){
  $("#downarrow"+mrsId).addClass('arrow-downed').removeClass('arrow-down');
  if ($("#uparrow"+mrsId).hasClass('arrow-uped')) {
    $("#uparrow"+mrsId).addClass('arrow-up').removeClass('arrow-uped');
  }
}
</script>