<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Members</strong> 
  (<%= link_to 'edit', :select_members %>)
  <strong>:</strong>
  <ul>
  <% @meeting.users.each do |user| %>
  <li><%= link_to user.username, user %></li>
  <% end %>
  </ul>
</p>

<p>
  <div id="editr">
	<strong>Restaurants</strong>
	(<%= link_to 'edit restaurant', :select_restaurants%>)
	<strong>:</strong>
</div>
	<table class='vote' id='editr'>
    <% number = 0 %>
		<% @allrests.each_pair do |key, value|%>
      <% number = number + 1 %>
		  <tr>
        <td class="arrow-up" id='<%="uparrow#{number}" %>' onclick="changevote('up', '<%=@user%>', <%=number.to_s%>, <%=value[1]%>)"></td>
        <td rowspan="3" class="restname"><%= link_to key.name, key%></td>
      </tr>
      <tr>
        <td class="votenumber" id='<%="vnumber#{number}"%>'><%=value[0]%></td>
      </tr>
      <tr>
        <td class="arrow-down" id='<%="downarrow#{number}" %>' onclick="changevote('down', '<%=@user%>', <%=number.to_s%>,  <%=value[1]%>)"></td>
      </tr>
        
		<% end %>
	</table>
		

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<script>
function changevote(direction, user, norder, mrs_id){
  var direction = direction;
  var member = <%=@inGroup%>
  if (! user || ! member) { 
    $("#editr").append("<div style='color: red'>You have to login or be the group's member to vote!</div>");
    return
  }
  
  updateVoteDB(direction, norder, mrs_id);
}

function updateVoteDB(vote, norder, mrs_id) {
  var uid = '<%=@uid%>';
  var mrs_id = mrs_id;
  var vote = vote;
  var id = '<%=@meeting_id%>';

  $.ajax({
            url:        "../meetings/" + id + "/" + "updateVoteDB",
            type:       "GET",
            data:       {uid: uid, mrs_id:mrs_id, vote:vote, id: id},
            datatype:   "json",
            complete:   function (xhr, status) {
                        }, 
            success:    function(data, textStatus, xhr){
                          if (data) {
                            counts = parseInt($("#vnumber" + norder).html());
                            if (vote == 'up') {
                              ++counts;
                              $("#uparrow"+norder).addClass('arrow-uped').removeClass('arrow-up');
                              if ($("#downarrow"+norder).hasClass('arrow-downed')) {
                                $("#downarrow"+norder).addClass('arrow-down').removeClass('arrow-downed');
                              }
                            }
                            else {
                              if (counts > 0) {
                                --counts;
                                $("#downarrow"+norder).addClass('arrow-downed').removeClass('arrow-down');
                                if ($("#uparrow"+norder).hasClass('arrow-uped')) {
                                  $("#uparrow"+norder).addClass('arrow-up').removeClass('arrow-uped');
                                 }
                              }
                            }
                            $("#vnumber"+norder).html(counts);
                          }                
                          else {
                            alert("Something went wrong. Please contact your admin")
                          }
                        },
            error:      function(request, status, error){
                            console.log(error)
                            console.log(status)
                        },
            });
}
</script>