<% provide(:title, "Show meeting") %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @meeting.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @meeting.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @meeting.date %>
</p>

<p>
  <strong>Members</strong> 
  (<%= link_to 'edit member', :select_members %>)
  <strong>:</strong>
  <ul>
  <% @meeting.users.each do |user| %>
  <li><%= link_to user.username, user %></li>
  <% end %>
  </ul>
</p>

<p>
  <div id="editr">
	<strong>Restaurants</strong>
	(<%= link_to 'edit restaurant', :select_restaurants%>)
	<strong>:</strong>
</div>

<div id = "restaurant_table">
	<%= render partial: "restaurant_list", locals: {meeting_mrs: @meeting_mrs, uid: @uid} %>
</div>
		

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>

<script>

var user = '<%= @user %>';
function changeVote(direction, mrs_id){
  var direction = direction;
  var member = <%=@inGroup%>
  if (! user || ! member) { 
    $("#editr").append("<div style='color: red'>You have to login or be the group's member to vote!</div>");
    return
  }
  
  updateVote(direction, mrs_id);
}

function updateVote(vote, mrs_id) {
  var uid = '<%=@uid%>';
  var id = '<%=@meeting_id%>';
  var url = "../meetings/" + id + "/" + "update_vote";
  $.ajax({
    url: url,
    type: "GET",
    data: {
      uid: uid, 
      mrs_id: mrs_id, 
      vote: vote, 
      id: id
    },
    datatype: "json",
    success: function(data, textStatus, xhr){
      $("#restaurant_table").html(data)
    },
    error: function(request, status, error){
      console.log(error)
      console.log(status)
    },
  });
}

</script>