<% provide(:title, "Show meeting") %>

<p id="notice" style="margin-top: 5px; padding-top: 5px"><%= notice %></p>

<div class="content">
  <h1><%= @meeting.title %></h1>
  <h5><%= @meeting.description %></h5>
  <div id="event-content">
    <ul class="dividedList">
      <li id="when">
        <i class="icon icon-calendar"></i>
        <h3><%= @meeting.date.in_time_zone.strftime("%a, %b %d, %Y") %></h3>
        <p class="timetext"><%= @meeting.date.in_time_zone.strftime("%l:%M %p") %></p>

  <h3><%=@meeting.users.size%> people are going
  <% if @inGroup %> 
  (<%= link_to 'edit member', :select_members, :class=>"editinh3" %>):</h3>
  <% end %>
  <ul>
  <% @meeting.users.sort_by{|x| x.username}.each do |user| %>
    <% if @inGroup %>
      <li class="userlink"><%= link_to user.username, user %></li>
    <% else %>
      <li><%= user.username %>
    <% end %>
  <% end %>
  </ul>

<p>
  <div id="editr">
	<h3>Restaurant candidates and votes
  <% if @inGroup %>
	(<%= link_to 'edit restaurant', :select_restaurants, :class=>"editinh3" %>):</h3>
  <% end %>
</div>

<div id = "restaurant_table">
	<%= render partial: "restaurant_list", locals: {meeting_mrs: @meeting_mrs, uid: @uid} %>
</div>
		
</div>
<br>
<%= link_to raw('<i class="icon icon-pencil"></i>'), edit_meeting_path(@meeting) %> |
<%= link_to raw('<i class="icon icon-trash"></i>'), @meeting, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to raw('<i class="icon icon-arrow-left"></i>'), meetings_path %>
<script>

var user = '<%= @user %>';
function changeVote(direction, mrs_id){
  var direction = direction;
  var member = <%=@inGroup%>
  if (! user || ! member) { 
    $("#editr").append("<div style='color: red'>You have to login or be the group's member to vote!</div>");
    return
  }
  
  updateVote(direction, mrs_id);
}

function updateVote(vote, mrs_id) {
  var uid = '<%=@uid%>';
  var id = '<%=@meeting_id%>';
  var url = "../meetings/" + id + "/" + "update_vote";
  $.ajax({
    url: url,
    type: "GET",
    data: {
      uid: uid, 
      mrs_id: mrs_id, 
      vote: vote, 
      id: id
    },
    datatype: "json",
    success: function(data, textStatus, xhr){
      $("#restaurant_table").html(data)
    },
    error: function(request, status, error){
      console.log(error)
      console.log(status)
    },
  });
}

</script>