<% provide(:title, "Show meeting") %>

<p id="notice" style="margin-top: 5px; padding-top: 5px"><%= notice %></p>

<div class="content">
  <div class="allthingstop" id="top">
    <div class="toptitle" id="toptitle">
      <h1><%= @meeting.title %></h1>
      <h5><%= @meeting.description %></h5>
    </div>
    <div id="question">
    
      <div class="areyougoing btn-group" id="repeatable">
        <h3>Are you going?</h3>
        <button id='rsvpYes' class='btn btn-success' onclick="going('Yes')">Yes
        </button>
        <button id='rsvpNo' class='btn btn-danger' onclick="going('No')">No
        </button>
        <button id='rsvpMaybe' class='btn btn-warning' onclick="going('Maybe')">Maybe
        </button>
        
      </div>
    
      <% if @going == 'nothing' %>
        <h3>You were not invited </h3>
      <% elsif not @going.nil? %>
        <h3 class=<%=@going == 'Yes' ? 'rsvpY' : 'rsvpN' %>>Your RSVP: <%=@going%></h3>
        <button id="change" class="btn btn-default" onclick="changeMind()"> Changed your mind? </button>
      <% end %>
    
    </div>
  </div>
  <div id="event-content">
    
    <div>
      <div style="background-color: #ddd; width: 30px; height: 30px; float:left"><span class="glyphicon glyphicon-calendar" style="padding: 7px"></span></div>
      <span class="meetingtimefont"><%= @meeting.date.in_time_zone.strftime("%a, %b %d, %Y") %></span>
      <p class="timetext" style="padding-left:50px"><%= @meeting.date.in_time_zone.strftime("%l:%M %p") %></p>
    </div>

    <div id="rdetails">
      <div id="editr">
       <h3>Restaurant candidates and votes</h3>
       <% if @inGroup %>
       <p>
       <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span> restaurant selection'), :select_restaurants, :class=>"editinh3 selection btn btn-default" %>
       </p>
       <% end %>
      </div>
      <div id = "restaurant_table">
         <%= render partial: "restaurant_list", locals: {meeting_mrs: @meeting_mrs, uid: @uid} %>
      </div>
    </div>
  

    <div id="member_status">
      <%= render partial: "members_status", locals: {statuscounts: @statuscounts, meeting: @meeting, inGroup: @inGroup, result_sent: @result_sent}, winner: @winner %>
    </div> 

    
    
  </div>
<script>

$(document).ready(function(){
  var going = "<%=@going%>";
  var result_sent = "<%=@result_sent%>";
  if (going != ''){
    $("#repeatable").hide();
  }
  if (result_sent) {
    $("#rdetails").hide();
  }
  else {
    $("#winner").hide();
  }

})

var user = '<%= @user %>';
function changeVote(direction, mrs_id){
  var direction = direction;
  var member = <%=@inGroup%>;
  var result_sent = "<%=@result_sent%>";
  if (! user || ! member) { 
    $("#editr").append("<div style='color: red'>In order to vote, you have to be invited and confirmed to go.</div>");
    return
  }
  if (result_sent) {
    $("#editr").append("<div style='color: red'>Restaurant winner has selected and results sent to all users. At this time, you can't vote any more.</div>");
    return
  }
  
  updateVote(direction, mrs_id);
}

function updateVote(vote, mrs_id) {
  var uid = '<%=@uid%>';
  var id = '<%=@meeting_id%>';
  var url = "../meetings/" + id + "/" + "update_vote";
  $.ajax({
    url: url,
    type: "GET",
    data: {
      uid: uid, 
      mrs_id: mrs_id, 
      vote: vote, 
      id: id
    },
    datatype: "json",
    success: function(data, textStatus, xhr){
      $("#restaurant_table").html(data)
    },
    error: function(request, status, error){
      console.log(error)
      console.log(status)
    },
  });
}

function going(decision) {
  var uid = '<%=@uid%>';
  var id = '<%=@meeting_id%>';
  var url = "../meetings/" + id + "/" + "set_decision";

  $.ajax({
    url: url,
    type: "GET",
    data: {
      uid: uid,
      id: id,
      decision: decision
    },
    datatype: "json",
    success: function(data, textStatus, xhr) {
      $("#member_status").html(data);
      var div = document.getElementById("question");
      //div.parentNode.removeChild(div);
      $("#repeatable").remove();
      var iDiv = document.createElement('div');
      iDiv.id="iQuestion";
      if (decision == 'Yes') {
        addedClass = "rsvpY";
      }   
      else if (decision == 'No') {
        addedClass = "rsvpN";
      }
      iDiv.innerHTML = "<h3 class=" + addedClass + ">Your RSVP: " + decision + "</h3>" + ' <button id="change" class="btn btn-default" onclick="changeMind()"> Changed your mind? </button>';
      $("#question").css("border", "none");     
      document.getElementById("top").appendChild(iDiv);

    }
  });
}

function changeMind() {
  var currentDiv = document.getElementById("question");
  var repeatable = document.getElementById("repeatable");
  
  //currentDiv.parentNode.removeChild(currentDiv);
  $("#question").empty();
  $("#iQuestion").remove();
  var cdiv = document.createElement('div');
  cdiv.className = "btn-group";
  cdiv.id = "repeatable"
  // jQuery('<div/>', {
  //   id: 'repeatable',
  //   class: 'areyougoing',
  //   innerHTML: "<h3>Are you going?</h3><button id='rsvpYes' onclick='going(\"Yes\")'>Yes</button> <button id='rsvpNo' onclick='going(\"No\")'>No</button> <button id='rsvpMaybe' onclick='going(\"Maybe\")'>Maybe</button>"
  // }).appendTo("#top");
  ////$("#question").css("border", "1px solid #ccc")
  cdiv.innerHTML = "<h3>Are you going?</h3><button id='rsvpYes' class='btn btn-success' onclick='going(\"Yes\")'>Yes</button> <button id='rsvpNo' class='btn btn-danger' onclick='going(\"No\")'>No</button> <button id='rsvpMaybe' class='btn btn-warning' onclick='going(\"Maybe\")'>Maybe</button>"
  document.getElementById("question").appendChild(cdiv);

}

function append_details() {
  div = document.getElementById("restaurant_table");
  $("#details").append(div);
}

</script>