<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
  <%# if @user.errors.any? %>
  <!--   <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> -->
  <%# end %>
<div style="padding-top: 20px">
  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <% if not @user.email.nil? %>
  <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  <% end %>
  <br >
  <%= f.submit class: "btn btn-large btn-primary" %>
</div>  
<% end %>
