<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages' %>
  <%# if @user.errors.any? %>
  <!--   <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div> -->
  <%# end %>
<div style="padding-top: 20px">
  <div class="infosection" style="width: 100%">
    <h5 >Basic info</h5>
    <div class="basicinfofields">
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
      </div>
      <div class="field">
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div class="field">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <%= f.hidden_field :invitation_token %>
    </div>
  </div>
  <br >

  <% if not @user.email.nil? %>
  <div class="infosection">
    <h5>Image</h5>
    <div class="newmemberfields">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
  <% end %>
  <br >
</div>
  <%= f.submit class: "btn btn-large btn-primary" %>
<% end %>
