<% provide(:title, @user.username) %>

<p id="notice" style="margin-top: 5px; padding-top: 5px"><%= notice %></p>

<div class="listingbox">
  <% if current_user == @user %>
    <h2>Hello, <%= @user.username %>!</h2>
  <% else %>
    <h2><%= @user.username %>'s Lunch Meetings </h2>
  <% end %>
  <% if not @next_meeting.blank? %>
  <p>
    <% if current_user == @user %>
      <h5>Your next lunch is: </h5>
    <% else %>
      Next lunch is: <br>
    <% end %>
    <div class="lunch-date">
      <div class="date-display" style="font-size: 150%">
  
        <%= link_to @next_meeting.date.in_time_zone.strftime("%A, %B %d"), @next_meeting %>
      </div>
      <div class="timetext">
        <%= @next_meeting.date.in_time_zone.strftime("%l:%M %p") %>
      </div>
      <p><%= @next_meeting.title %></p>
    </div>
    <% else %>
      <h3> No future lunch meeting scheduled </h3>
    <% end %>
  </p>

  
  
  <%#= link_to raw('<span class="glyphicon glyphicon-plus"></span> Create New Lunch'),  new_meeting_path, :class=>'btn btn-lg btn-primary' %>
  <h3>Previous lunch meetings:</h3>
  <ul class="listmeetings">
  <% @old_meetings.each do |meeting| %>
    <li>
      <%= meeting.date.in_time_zone.strftime("%a, %b %d") %> - 
        <%= link_to meeting.title, meeting %>
    </li>
  
  <% end %>
  </ul>
</div>

<% if current_user == @user %>
  <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'),      edit_user_path(@user) %> |
  <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), @user,    method:  :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>'),    users_path %>
<% end %>
