<% provide(:title, @user.username) %>

<% flash.each do |key, value| %>
  <div class="<%=flash_class(key) %>">
        <%= value %>
  </div>
<% end %>

<div class="listingbox">
  <% if current_user == @user %>
    <h1>Hello, <%= @user.username %>!</h1>
  <% else %>
    <h2><%= @user.username %>'s Lunch Meetings </h2>
  <% end %>
  <% if not @next_meeting.blank? %>
  <div class="nextlunch">
    <% if current_user == @user %>
      <h3 style="color: #fff; padding-top: 10px">Your next lunch: </h3>
    <% else %>
      Next lunch: <br>
    <% end %>
    <div class="datecalendar">
      <time class="sheet">
        <span class="month"><%=@next_meeting.date.strftime("%b")%></span>
        <span class="day"><%=@next_meeting.date.day%></span>
      </time>
    </div>
    <div class="lunch-date">
      <div class="date-display" style="font-size: 150%">
        <%= link_to @next_meeting.title, @next_meeting %>
      </div>
      <p><%=@next_meeting.description %></p>
      <div class="timetext" style="color: #000; font-weight: 300; font-size:16px">
        <%= @next_meeting.date.in_time_zone.strftime("%l:%M %p") %>
      </div>
    </div>
    <% else %>
      <h3> Upcoming </h3>
      <p> No future lunch scheduled. </p>
    <% end %>
  </div>

  
  
  
  <% if @old_meetings.size > 0 then %>
    <h3>Previous lunch meetings:</h3>
    <ul class="listmeetings">
    <% @old_meetings.each_pair do |date, meetings| %>
      
      <li class="date-indicator">
        <%= link_to date.in_time_zone.strftime("%a, %b %d, %Y"), meetings[0], :class=>"meetingtime" %>
      </li>
      <li >
        <ul style="padding: 0">
          <div class="detail-container" style="min-height: 40px">
            <% meetings.each do |meeting| %>
              <li class="meetingsamedate">              
                <div class="unit sizetime" style="padding-top: 15px">
                  <%= meeting.date.in_time_zone.strftime("%l:%M %p") %>
                </div>
                <div class="unit sizemain">
                  <div class="title">
                    <%= link_to meeting.title.split.map(&:capitalize).join(' '),meeting %> 
                  </div>
                  <div class="description">
                    <%=meeting.description %>
                  </div>
                  
                </div> 

              </li>
            <% end %>
          </div>
        </ul>
      </li>
    
    <% end %>
    </ul>
  <% end %>
  
</div>

<% if current_user == @user %>
  <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'),      edit_user_path(@user) %> |
  <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), @user,    method:  :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to raw('<span class="glyphicon glyphicon-arrow-left"></span>'),    users_path %>
<% end %>
