<p id="notice" style="margin-top: 10px"><%= notice %></p>

<% provide(:title, @user.username) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.username %>
      </h1>
    </section>
  </aside>
</div>
  <strong>Meetings:</strong>
  <ul class="users">
  <% @meeting.each do |meeting| %>
    <li>
      <%= link_to meeting.title, meeting %> on
      <%= meeting.date.to_s(:short) %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>