<p id="notice"><%= notice %></p>

<p class="show">
  <strong>Username:</strong>
  <%= @user.username %>
  <br ><br >
  <strong>Email:</strong>
  <%= @user.email %>
  <br ><br >
  <strong>Meetings:</strong>
  <ul class="users">
  <% @user.meetings.each do |meeting| %>
    <li>
      <%= link_to meeting.title, meeting %> on
      <%= meeting.date.to_s(:short) %>
    </li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
