<% provide(:title, @user.username) %>

<p id="notice" style="margin-top: 5px; padding-top: 5px"><%= notice %></p>

<div>
<h2>Hello, <%= @user.username %>!</h2>
<p>
  Your next lunch is: <br>
  <div class="lunch-date">
    <div class="date-display" style="font-size: 150%">
      <%= @next_meeting.date.in_time_zone.strftime("%A, %B %d") %>
    </div>
    <div class="timetext">
      <%= @next_meeting.date.in_time_zone.strftime("%l:%M %p") %>
    </div>
    <p><%= @next_meeting.title %></p>
  </div>
</p>
<%#= link_to '+ New Lunch', new_meeting_path, :class => 'btn btn-default' %>
<%= link_to raw('<span class="glyphicon glyphicon-plus"> New Lunch</span>'), new_meeting_path, :class=>'btn btn-default btn-primary' %>
<h3>Later</h3>
<ul>
<% @meeting.each do |meeting| %>
  <li>
    <%= meeting.date.in_time_zone.strftime("%a, %b %d") %> - 
      <%= link_to meeting.title, meeting %>
  </li>

<% end %>
</ul>
