<% provide(:title, @user.username) %>

<p id="notice" style="margin-top: 5px; padding-top: 5px"><%= notice %></p>

<div class="jumbotron">
<h2>Hello, <%= @user.username %>!<h2>
Your next lunch is:
  <div class="well">
    <h3><%= @next_meeting.date.in_time_zone.strftime("%a, %b %d, %Y") %></h3>
    <p class="timetext"><%= @next_meeting.date.in_time_zone.strftime("%l:%M %p") %></p>
      <%= link_to @next_meeting.title, @next_meeting %>
  </div>
</div>

