<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="padding-top: 20px">
  <div class="infosection">
    <h5 >Basic info</h5>
    <div class="basicinfofields">
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div class="field">
        <%= f.label :url %>
        <%= f.text_field :url %>
      </div>
      <div class="field">
        <%= f.label :photo_url %>
        <%= f.text_field :photo_url %>
      </div>
      <div class="actions">
        <%= f.submit :class=>"btn"%>
      </div>
    </div>
  </div>
</div>
<% end %>
