<div class="listing table-responsive">

<div class="listing table-responsive" style="margin-bottom: 10px">
  <div class="buddiestopbar">
      <div class="leftentity">
        <div class="contentwrapper">
          <h1>Restaurants</h1>
          <h3>restaurants that have been added by our users</h3>
        </div>
      </div>
    </div>

<div class="listingbox">
  <ul class="listmeetings">
  <% @restaurants.each do |restaurant| %>
    <li class="meeting-divider">
          <div class="figureset">
            <div class="mainname">
              <a href=<%=restaurant_path(restaurant)%> class="avatarimage" style="  display:block;">
                <% if restaurant['photo_url'].nil? %>
                  <i class="icon icon-cutlery"></i>
                <% else %>
                <img alt=<%=restaurant['name']%> height="80" width="90" src=<%=restaurant[  'photo_url']%>>
                <% end %>
              </a>
              <div class="figureset-description">
                <h5><%= link_to restaurant.name, restaurant_path(restaurant) %></h5>
                <h6>
                  <% if restaurant.url.nil? %>
                    <%=link_to "Add a url for this restaurant", edit_restaurant_path( restaurant) %>
                  <% else %>
                    <%= link_to restaurant.url, restaurant.url %></h6>
                  <% end %>
                <div></div>
              </div>
            </div>

            <div class="addresses">
              <% if not restaurant['address'].nil? %>
              <i class="icon icon-map-marker"></i>
              <address>
                <% splitarray = restaurant['address'].split(',')%>
                <%=splitarray[0] %>
                <br >
                <% if not splitarray[1..-1].nil? %>
                <%=splitarray[1..-1].reject!{|c| c == " "}.join(',')%> 
                <% end %>
              </address>
              <% end %>
            </div>
          </div>
        </li>

  <% end %>
  </ul>


<%= link_to 'New Restaurant', new_restaurant_path %>
<script>
$(document).ready(function () {
   //Convert address tags to google map links
   $('address').each(function () {
      var link = "<a style='color: #555' href='http://maps.google.com/maps?q=" + encodeURIComponent( $(this).text() ) + "' target='_blank'>" + $(this).html() + "</a>";
      $(this).html(link);
   });
});
</script>
