<p style="margin-top: 10px" id="notice"><%= notice %></p>

<div class="rbox">
  <h1 class="rheadername"><%=link_to @restaurant['name'], @restaurant['url'] %></h1>
  <br >
  <% if not @restaurant['address'].nil? %>
  <h3>Yelp rating: <%=@restaurant['yelp_rating'] %></h3>
  <div class="map-container">
    <div class="mapbox-map">
    </div>
    <div class="mapbox-text">
      <address>
        
          <% splitarray = @restaurant['address'].split(',')%>
          <%=splitarray[0] %>
  
          <br >
          <% if not splitarray[1..-1].nil? %>
          <%=splitarray[1..-1].reject!{|c| c == " "}.join(',')%> 
          <% end %>
        
      </address>
    </div>
  </div>
  <% end %>
</div>


<!-- <ul class="listmeetings">
  
    <li class="meeting-divider">
          <div class="figureset">
            <a href=<%=restaurant_path(@restaurant)%> class="avatarimage" style="display:block;">
              <% if @restaurant['photo_url'].nil? %>
                <i class="icon icon-cutlery"></i>
              <% else %>
              <img alt=<%=@restaurant['name']%> height="80" width="90" src=<%=@restaurant['photo_url']%>>
              <% end %>
            </a>
            <div class="figureset-description">
              <h5>Name: <%=@restaurant.name%></h5>
              <h5>Address: <%=@restaurant.address%></h5>
              <h6>
                <% if @restaurant.url.nil? %>
                  <%=link_to "Add a url for this restaurant", edit_restaurant_path(@restaurant) %>
                <% else %>
                  <%= link_to @restaurant.url, @restaurant.url %></h6>
                <% end %>
              <div></div>
            </div>
          </div>
        </li>

  
  </ul> -->

<%= link_to raw('<i class="icon icon-pencil"></i>'), edit_restaurant_path(@restaurant) %> |
<%= link_to raw('<i class="icon icon-trash"></i>'), @restaurant, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to raw('<i class="icon icon-arrow-left"></i>'), restaurants_path %>
