<div class="site-header">
  <h1>
    <a href="#"><img src="/assets/wheretoeat.png" width="200"></a>
  </h1>
  <ul class="navigation">
    <li><%=link_to "Lunches", meetings_url, :class=>'stylea'%></li>
    <li><%=link_to "Buddies", users_url, :class=>'stylea'%></li>
    <li class="dropdown" id="fat-menu">
        <a class='stylea' href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path( current_user) %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul>
    </li>
  </ul>
</div>
