<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

<div class="site-header">
  
  <ul class="nav nav-pills" style="float: right">
    <li><%=link_to "Lunches", meetings_url, :class=>'stylea'%></li>
    <li><%=link_to "Buddies", users_url, :class=>'stylea'%></li>
    <li class="dropdown" id="fat-menu">

      <a style="color: black" class="dropdown-toggle" data-toggle="dropdown" href="/"><img alt="Account" class="menuavatarimage" src="<%=gravatar_url(current_user)%>)"><span class="caret" style="margin-top: -2px; margin-left: 5px;"></span></a>
      
        <!-- <a class="dropdown-toggle" data-toggle="dropdown">
           <span class="menuavatarimage" style="display:block; background-image: url(<%= gravatar_url(current_user)%>)"></span>
           <%#= link_to image_tag(gravatar_url(current_user), :class=>"menuavatarimage"), "/", :class=>"dropdown-toggle", :data=>{:toggle=>"dropdown"}%> 
           <span class="caret"></span>
        </a> -->
         <ul class="dropdown-menu" role="menu">
           <li role="profile">
            <%= link_to "Profile", current_user %>
           </li>
           <li role="Settings">
            <%= link_to "Settings", edit_user_path( current_user) %>
           </li>
           <li class="divider"></li>
           <li role="Sign out">
            <%= link_to "Sign out", signout_path, method: "delete" %>
           </li>
         </ul>
      

        <!-- <a class='stylea' href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Settings", edit_user_path( current_user) %></li>
          <li class="divider"></li>
          <li>
          <%= link_to "Sign out", signout_path, method: "delete" %>
          </li>
        </ul> -->
    </li>
  </ul>
  <h1>
    <a href="#"><img src="/assets/wheretoeat.png" width="200" style="margin-left:-9px; margin-top:-33px"></a>
  </h1>
</div>
