<!DOCTYPE html>
<html>
<head>
  <title>Lunchvoting | <%=yield(:title)%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div id="frame">
    <%= render "layouts/header" %>
  	<div class="pagecontent">
  		<%= yield %>
  	</div>
  </div>
</body>
</html>
