<!DOCTYPE html>
<html>
<head>
  <title>Lunchvoting | <%=yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/header" %>
</head>
<body>
	<div class="pagecontent">
		<%= yield %>
	</div>
</body>
</html>
