<!DOCTYPE html>
<html>
<head>
  <title>Lunchvoting | <%=yield(:title)%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="frame">
  <h1 class="site-title">
    <a href="/">Lunch Voting</a>
  </h1>

	<div>
    <div class="pagecontent">
		  <%= yield %>
    </div>
	</div>
</div>

</body>
</html>